#is-login-container {
    width: 350px;
    margin: auto;
    padding-top: 200px;
    border-radius: 50%;
}

#is-login-box {
    background-color: #D8D8D8;
    padding-top: 8px;
    border-radius: 0 0 5px 5px;
    border-color: darkgray;
    border-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    margin-top: -3px;
    border-bottom: 3px solid #2F80B7;
    box-sizing: border-box; 
}

#is-login-form {
    width: 100%;
}


#is-login-table {
    margin: auto;
    width: 280px;
    padding-top: 7px;
}

#is-login-username {
    font-family: 'Raleway', 'sans-serif';
    width: 98%;
}

#is-login-password {
    font-family: 'Raleway', 'sans-serif';
    width: 98%;
}

#is-login-logo {
    background-color: #2F80B7;
    border-radius: 5px 5px 0 0;
    padding: 20px 3px 10px 3px;
    border-bottom: 2px solid #015792;
}

#is-box-login {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.57);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.57);
    box-shadow: 0px 4px 11px 0px rgba(150, 150, 150, 0.57);
}

tbody {
    text-align: left;
}


#login-error-message {
    color: red;
    font-size: 13px;
    padding-bottom: 10px;
}


.filter-text-login {
    padding: 5px 0 2px 5px;
    border: none;
    border-bottom: 2px #A2A2A2 solid;
    border-radius: 3px;
    background-color: #ECECEC;
    color: #7D7D7D;
    height: 20px;
}

.login-label {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 800;
    color: #015792;
}

.ph-button {
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 4px 21px 6px;
    font-size: 18px;
    border: none;
    transition: all 0.2s;
}

/*Green
==========================*/
.ph-btn-green {
    border-color: #3AC162;
    background-color: #5FCF80;
}

    .ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
        background-color: #4BC970;
        border-color: #3AC162;
    }

/*Blue
==========================*/
.ph-btn-blue {
    background-color: #2F80B7;
    border-bottom: 3px solid #295F84;
}

    .ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
        background-color: #397CAC;
        border-color: #326E99;
    }


/*DEMO ONLY FOR CENTER POSITION*/



.center-childs {
    padding: 10px 0;
    text-align: center;
}
 