html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F0F0F0;
}

::-webkit-input-placeholder {
    color: #E8E8E8;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #E8E8E8;
}

:-ms-input-placeholder {
    color: #E8E8E8;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background-color: #B9B9B9;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }

input:focus {
    outline: 0;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    color: #9C9C9C;
    box-sizing: border-box;
    background-color: #2B86C3;
    border-bottom: 2px solid #2F80B7;
    position: relative;
}

.button.main {
    height: 30px;
    padding: 8px 6px 3px 6px;
    padding-top: 8px;
    background: none;
    border: none;
    background-color: #7BA7C5;
    color: #E5F1DC;
    border-radius: 3px;
    font-size: 13px;
    border-bottom: 2px solid #698FA9;
    border-top: 0px solid #698FA9;
    cursor: pointer;
    transition: all 0.2s;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
}

    .button.main:active {
        background-color: #69A167;
        border-bottom: 0px solid #69A167;
        border-top: 2px solid #69A167;
    }

    .button.main:hover {
        background-color: #8FBAD8;
    }

.button.disabled {
    background-color: #CCCCCC !important;
    border: none !important;
    cursor: default;
    color: #5A5A5A;
}

.nav-panel {
    width: 36px;
    transition: all 0.3s;
    overflow: hidden;
    border-bottom: 3px solid #2F80B7;
    position: absolute;
    z-index: 1;
}

    .nav-panel:hover {
        width: 160px;
    }

        .nav-panel:hover > .main-title > .nav-icon {
            transform: rotate(90deg);
        }

.nav-bar {
    background-color: #DAD9D9;
    overflow: visible;
}

.nav-icon {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-bar-items {
    width: 32px;
    height: 100%;
    float: left;
    background-color: #C4C4C4;
    overflow: visible;
}

.nav-tool-item {
    overflow: visible;
    width: 160px;
    height: 40px;
    color: #606060;
    transition: all 0.3s;
    background-color: #D7D7D7;
}

    .nav-tool-item:hover {
        cursor: pointer;
        color: #E9E9E9;
        background-color: #AAA;
    }

    .nav-tool-item.current {
        opacity: 1;
        color: #E9E9E9;
        background-color: #3498DB;
    }


.nav-tool-icon {
    float: left;
    margin: 10px;
}

.nav-tool-title {
    float: left;
    margin: 10px 2px;
}

.main-title {
    height: 40px;
    background-color: #3498DB;
    display: flex;
    align-items: center;
    padding: 0 11px;
    border-bottom: 3px solid #2F80B7;
    box-sizing: border-box;
}

.content-title {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.content-title-text {
    font-size: 22px;
}

.content-title-route {
    position: relative;
    top: 2px;
    left: 8px;
}

.content-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 36px;
    top: 60px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    z-index: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family: Muli;
}

.actions-panel {
    background-color: #AFAFAF;
    height: 40px;
    padding: 8px 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #9C9C9C;
    color: #ECECEC;
    font-size: 14px;
}

.filter-text {
    padding: 4px;
    border: none;
    border-bottom: 2px #A2A2A2 solid;
    border-radius: 3px;
    margin-left: 2px;
    background-color: #ECECEC;
    color: #7D7D7D;
}

.grid-action {
    float: right;
    cursor: pointer;
    transition: all 0.3s;
}

    .grid-action:hover {
        color: #4E4E4E;
        margin: 0 4px;
        font-weight: bold;
    }

        .grid-action:hover > .grid-action-icon {
            background-color: #656565;
            color: #D2D2D2;
            border-bottom: 2px solid #AFAFAF;
        }

.grid-description {
    float: left;
    font-size: 14px;
    position: relative;
    top: 4px;
}

.grid-action-icon {
    display: inline-block;
    color: #808080;
    background-color: #F1F1F1;
    padding: 5px;
    width: 26px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
    border-bottom: 2px #A0A0A0 solid;
    font-size: 14px;
    box-sizing: border-box;
    margin-left: 10px;
    transition: all 0.3s;
}

.grid-container {
    background-color: #D2D2D2;
    color: #5D5D5D;
    width: 97%;
    margin: 20px;
    font-size: 14px;
}

.log-out {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.8;
}

.log-out:hover {
    opacity: 1;
}