﻿<section>
    <div id='is-login-container'>
        <div id="is-box-login">
            <div id='is-login-logo'>
                <img src='Content\Images\hfmi-header-logo-sm.png' />
            </div>
            <div id='is-login-box'>

                <form id='is-login-form' onsubmit="return false">
                    <table id='is-login-table'>
                        <tr>
                            <td>
                                <label for='is-login-username' id='username-label-td' class="login-label">Username </label>
                            </td>
                            <td>
                                <input id='is-login-username' type='text' class='filter-text-login' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for='is-login-password' class="login-label">Password </label>
                            </td>
                            <td>
                                <input id='is-login-password' type='password' class='filter-text-login' />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class='center-childs'>
                                    <label id="login-error-message" data-bind="value : errorMessage"  style="display : none"></label>
                                    <input type='submit' value='Login' id='is-login-button' class='ph-button ph-btn-blue ' data-bind=' click : login'>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>