﻿<header>
    <img style="height: 130%;" alt="HFMI" src="../Content/images/hfmi-header-logo.png" />
    <a href="#" class="log-out" data-bind="click : function () {  appSecurity.logout() }"><i class="fa fa-sign-out"></i> log out</a>
</header>
<div class="nav-panel">
    <div class="nav-title main-title">
        <i class="nav-icon fa fa-bars"></i>
    </div>
    <div class="nav-bar-items" data-bind="foreach: router.navigationModel">
        <a data-bind="attr: { href: hash }">
            <div data-bind="css: { current: isActive }" class="nav-tool-item">
                <div class="nav-tool-icon"><i data-bind="css: faClass"></i></div>
                <div class="nav-tool-title" data-bind="html: title"></div>
            </div>
        </a>
    </div>
</div>
<div class="content-panel">
    <div class="content-title main-title">
        <span class="content-title-text">Identity Server</span>
        <span class="content-title-route">
            <i class="fa fa-caret-right"></i>&nbsp;
            <span data-bind="html: router.activeInstruction().config.title"></span>
        </span>
    </div>
    <div class="content">
        <div class="container-fluid page-host" data-bind="router: { transition:'entrance' }"></div>
    </div>
</div>